
<div class="container"  style="margin-top: 20px;">
    <div class="row">
      
    </div>  
    <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <div>
              
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                
                {{this.resp1}}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              
              </div>
            </div>
            
              <!-- <div class="alert alert-info">{{this.firstService.resp}}</div> -->
            
              <h1>Login</h1>
              <form #firstForm="ngForm" (ngSubmit)="postLogIn(firstForm)">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="email" #email="ngModel" [(ngModel)]="secondService.selectedSecond.email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" #password="ngModel" [(ngModel)]="secondService.selectedSecond.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
          </div>
      </div>
      
  </div>